@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
    /* nav section */
    nav {
        background-color: #fafafa;
        overflow: hidden;
        padding-top: 1px;
        font-family: 'Inconsolata', monospace;
        font-size: 20px;
    }
        .left {
            text-align: left;
            float: left;
            color: #6600ee;
            padding-left: 10px;
        }
            .left__title {
                margin: 0;
                padding-top: 2px;
            }
        .right {
            float: right;
        }
            .right__a {
                padding: 12px;
                text-decoration: none;
                color: black;
                width: 100%;
            }
                .right__a:hover {
                    color: #6600ee;
                    transition: .2s;
                }  
    
    /* wrapper section */       
    .wrapper {
        margin: 0;
        padding: 0;
        padding-left: 5px;
    }

    /* titles section */
        .titles {
            top: 300px;
            text-align: center;
        }

    /* Who section */
    .who {
        width: 750px;
    }
        .who__title {
            padding-left: 10px;
        }
        .who__p {
            padding-left: 15px;
        }
        .who__p2 {
            padding-left: 15px;
        }
    
    /* skills section */
    .skills {
        display: flex;
        float: right;
        width: 700px;
    }   
        .skills__title {
            padding: 10px;
        }   