@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap'); /*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap'); /*font-family: 'Inconsolata', monospace;*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 20px 40px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #ffffff;
        z-index: 9999;
        opacity: 0.95;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    }
        .left {
            box-sizing: content-box;
        }
            .left__title {
                margin: 0;
                padding-right: 40px;
                padding-left: 10px;
                font-size: 25px;
                text-decoration: none;
                color: #000;
            }
        .right {
            padding-top: 5px;
        }
            .right__a {
                text-decoration: none;
                padding: 5px;
                font-size: 18px;
                color: #000000;
                transition: color 300ms;
            }
                .right__a:hover {
                    color: #0096ed;
                }

    .wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
        .titles {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
            .titles__title {
                font-size: 24px;
                font-weight: 500;
                text-align: left;
            }
            .titles__subtitle {
                text-align: left;
                font-size: 60px;
                width: min-content;
                
            }

        .skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50vw;
            justify-content: center;
            align-items: center;
        }
            .skills__title {
                text-align: center;
                position: relative;
                justify-content: center;
                padding-bottom: 10px;
                display: flex;
                justify-content: center;
                color: #111111;
            }
                .skills__title::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100px;
                    height: 1px;
                    background: #0096ed;
                }
            .cards-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
                .card {
                    border: solid 2px #000;
                    margin: 5px;
                    transition: border-color 300ms ease;
                    width: 100%;
                }
                    .card:hover {
                        border: solid 2px #0096ed;
                    }
                    .card__h2 {
                        font-weight: 300;
                        padding: 5px;
                        margin-bottom: 1px;
                        margin-top: 1px;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
            .skills__p {
                width: 50vw;
                font-size: 20px;
                font-weight: 300;
                color: #191919;

            }
                .skills__a {
                    text-decoration: none;
                    color: #111111;
                    position: relative;
                    
                }
                    .skills__a::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        width: 20%;
                        height: 2px;
                        background: #0096ed;
                        transition: width 250ms ease-out;
                    }
                    .skills__a:hover::before {
                        width: 100%;
                    }
            .skills__projects-container {
                display: flex;
                flex-direction: row;
                padding: 10px;
                width: 50vw;
                justify-content: center;
            }
                .skills__project {
                    padding: 1em 1em;
                    background: #fff;
                    box-shadow: 0 0 16px 0 rgba(190, 190, 190, 0.2), 0 16px 32px 0 rgba(0, 0, 0, 0.11);
                    border-radius: 14px;
                }
                    .skills__project + .skills__project {
                        margin-left: -20px;
                    }

                    .skills__project__title {
                        margin-top: 0;
                        position: relative;
                        color: #111111;
                        padding-bottom: 5px;
                        display: flex;
                        justify-content: center;
                    }
                        .skills__project__title::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            width: 110px;
                            height: 1px;
                            background: #0096ed;
                        }
                    .skills__project__img {
                        width: 300px;
                        height: 200px;
                    }
                    .skills__project__p {
                        font-weight: 300;
                        color: #191919;
                        padding: 10px;
                    }
                    .skills__project__a {
                        text-decoration: none;
                        color: #111111;
                        position: relative;
                        padding: 5px;
                        padding-bottom: 0;
                    }
                        .skills__project__a::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            width: 20%;
                            height: 2px;
                            background: #0096ed;
                            transition: width 250ms ease-out; 
                        }
                            .skills__project__a:hover::before {
                                width: 100%;
                            }

        .who {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            text-align: center;
            height: 40vw;
            justify-content: center;
            align-items: center;
        }
            .who__title {
                text-align: center;
                position: relative;
                justify-content: center;
                padding-bottom: 10px;
                display: flex;
                justify-content: center;
                color: #191919;
            }
                .who__title::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 110px;
                    height: 1px;
                    background: #0096ed;
                }
            .who__p--container {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                text-align: center;
                width: 100%;
                align-items: center;
            }
                .who__p {
                width: 90vw;
                max-width: 700px;
                text-align: center;
                font-weight: 300;
                color: #191919;
                font-size: 20px;
                }
                .who__p2 {
                    width: 90vw;
                    max-width: 700px;
                    font-weight: 300;
                    color: #191919;
                    font-size: 20px;
                }
        
        .contact {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }
            .contact__title {
                text-align: center;
                position: relative;
                justify-content: center;
                padding-bottom: 10px;
                display: flex;
                justify-content: center; 
                color: #191919;
            }
                .contact__title::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 110px;
                    height: 1px;
                    background: #0096ed;
                }
            .contact__p {
                margin-bottom: 0;
                margin-top: 0;
                font-weight: 300;
                color: #191919;
                font-size: 20px;
            }
            .contact__list {
                margin-top: 5px;
                text-align: left;
                font-weight: 300;
                color: #191919;
                font-size: 20px;
            }
                .contact__list__li__a {
                    text-decoration: none;
                    color: #111111;
                    position: relative;
                }
                    .contact__list__li__a::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        width: 20%;
                        height: 2px;
                        background: #0096ed;
                        transition: width 250ms ease-out;
                    }
                        .contact__list__li__a:hover::before {
                            width: 100%;
                        }

    