@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
    nav {
        top: 0;
        background-color: #f3f3f3;
        border-bottom: 10px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding-top: 0;

    }
        .left {
            width: 500px;
            padding-left: 5px;
            color: #6600ee;
            font-family: 'Inconsolata', monospace;
            width: 100%;
            top: 0;
            margin: 0;
        }
            .left__title {
                margin: 0;
                padding-top: 2px;
            }
        .right {
            text-align: right;
            font-family: 'Inconsolata', monospace;
            font-size: 20px;
            overflow: hidden;
        }
            .right__a {
                padding: 10px;
                text-decoration: none;
                color: black;
            }
                .right__a:hover {
                    color: #6600ee;
                    transition: 1s;
                }         
    .wrapper {
        margin: 0;
        padding: 0;
        padding-left: 5px;
    }
        .titles {
            top: 300px;
            text-align: center;
        }
            