@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap'); /*font-family: 'Inconsolata', monospace;*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
    .nav-toggle-label {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 20px 40px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #ffffff;
        z-index: 9999;
        opacity: 0.95;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    }
        .left {
            box-sizing: content-box;
        }
            .left__title {
                margin: 0;
                padding-right: 40px;
                padding-left: 10px;
                font-size: 25px;
                text-decoration: none;
                color: #000;
            }
        .right {
            padding-top: 5px;
        }
            .right__a {
                text-decoration: none;
                padding: 5px;
                font-size: 18px;
                color: #000000;
                transition: color 300ms;
            }
                .right__a:hover {
                    color: #0096ed;
                }
    .wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;
        }
            .title__h1 {
                text-align: center;
                position: relative;
                justify-content: center;
                padding-bottom: 10px;
                padding-top: 60px;
                display: flex;
                justify-content: center;
                color: #111111;
            }
                .title__h1::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100px;
                    height: 1px;
                    background: #0096ed;
                }
        .skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 56vw;
            justify-content: center;
            align-items: center;
        }
            .skills__projects-container {
                display: flex;
                flex-direction: row;
                padding: 10px;
                justify-content: center;
            }
                .skills__project {
                    padding: 1em 1em;
                    background: #fff;
                    box-shadow: 0 0 16px 0 rgba(190, 190, 190, 0.2), 0 16px 32px 0 rgba(0, 0, 0, 0.11);
                    border-radius: 14px;
                }
                    .skills__project + .skills__project {
                        margin-left: -20px;
                    }
                    .skills__project__title {
                        margin-top: 0;
                        position: relative;
                        color: #111111;
                        padding-bottom: 5px;
                        display: flex;
                        justify-content: center;
                    }
                        .skills__project__title::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            width: 110px;
                            height: 1px;
                            background: #0096ed;
                        }
                    .skills__project__img {
                        width: 100%;
                        height: auto;
                        max-width: 250px;
                    }
                    .skills__project__p {
                        font-weight: 300;
                        color: #191919;
                        padding: 10px;
                    }
                    .skills__project__a {
                        text-decoration: none;
                        color: #111111;
                        position: relative;
                        padding: 5px;
                        padding-bottom: 0;
                        cursor: pointer;
                    }
                        .skills__project__a::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            width: 20%;
                            height: 2px;
                            background: #0096ed;
                            transition: width 250ms ease-out; 
                        }
                            .skills__project__a:hover::before {
                                width: 100%;
                            }
                    .skills__project__modal-container {
                        display: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: #91909077;
                        height: 100vh;
                        width: 100vw;
                        justify-content: center;
                        align-items: center;
                        z-index: 10;
                    }
                        .skills__project__overlay {
                            background: #fff;
                            width: 560px;
                            height: 450px;
                            margin: 20px;
                            position: fixed;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;
                            text-align: center;
                            border-radius: 3%;
                        }
                            .skills__project__modal--cancel {
                                position: absolute;
                                top: 10px;
                                right: 20px;
                                cursor: pointer;
                                transition: 250ms;
                            }
                                .skills__project__modal--cancel:hover {
                                    color: #0096ed;
                                }
                            .skills__project__modal--title {
                                position: relative;
                                color: #191919;
                                display: flex;
                                justify-content: center;
                            }
                                .skills__project__modal--title::after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    width: 110px;
                                    height: 1px;
                                    background: #0096ed;
                                }
                            .skills__project__modal__p {
                                font-weight: 300;
                                text-align: center;
                            }
                            .skills__project__modal__p--lang {
                                font-weight: 300;
                            }
@media (min-width: 700px) and (max-width: 1160px) {
    .nav-toggle-label {
        display: none;
    }
    .skills {
        width: 100vw;
        min-height: 60vh;
        padding-bottom: 200px;
    }
        .skills__projects-container {
            width: 60vw;
            display: flex;
            flex-direction: column;
        }
            .skills__project {
                width: 60vw;
            }
            .skills__project + .skills__project {
                margin-top: 20px;
                margin-left: 0;
            }
}
@media (max-width: 700px) {
    .nav-toggle {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
    .nav-toggle:focus ~ .nav-toggle-label {
        outline: 3px solid rgba(lightblue, .75);
    } 
    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 10%;
        display: flex;
        align-items: center;
        z-index: 9999;
    }
    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        display: flex;
        align-items: center;
    } 
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: #000000;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: fixed;
    }  
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }  
    .nav-toggle-label span::before {
        bottom: 7px;
    }  
    .nav-toggle-label span::after {
        top: 7px;
    }
    nav {
        position: absolute;
        text-align: center;
        width: 100vw;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
    }
        .right__a {
            opacity: 0;
            transition: opacity 150ms ease-in-out;
            justify-content: center;
        }
    .nav-toggle:checked ~ nav {
        transform: scale(1,1);
    }
    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
    .skills {
        width: 100%;
        min-height: auto;
        padding-bottom: 100px;
    }
        .skills__projects-container {
            width: 60vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
            .skills__project {
                width: 200px;
                height: 52vh;
            }
                .skills__project + .skills__project {
                    margin-top: 20px;
                    margin-left: 0;
                }
}